nav .logo {
  display: flexbox;
  font-size: 41.8px;
  font-weight: bold;
  padding: 15px 0 0 20px;
  text-align: center;
  color: #ffffff;
}

.search {
  margin-left: auto;
}

nav .searchForm {
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px auto;
  color: rgba(128, 0, 128, 1);
  text-align: left;
  margin: 35px 20px 0 0;
  padding-left: 10px;
  outline: none;
  transition-property: box-shadow;
  transition: 1s;
}

nav .searchForm:hover {
  box-shadow: 3px 3px 3px rgb(191, 64, 191);
}

@media (max-width: 375px) {
  nav .logo {
    font-size: 25px;
    padding: 20px 0 0 20px;
  }

  nav .searchForm {
    width: 130px;
    margin: 25px 35px 0 0;
  }
}
