nav {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 87px;
  background-color: brown;
}

nav .logo {
  display: flexbox;
  font-size: 41.8px;
  font-weight: bold;
  padding: 15px 0 0 20px;
  text-align: center;
  color: #ffffff;
}

.search {
  margin-left: auto;
}

nav .searchForm {
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px auto;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin: 35px 20px 0 0;
}
